<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Azutka_Kelime_Bulucu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Azutka_Kelime_Bulucu.Properties.Settings>
            <setting name="KelimeGönderiktenSonraDur" serializeAs="String">
                <value />
            </setting>
            <setting name="HarfGönderdiktenSonraDur" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckKelimeG" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckHarfG" serializeAs="String">
                <value />
            </setting>
            <setting name="BasılacakTus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LisansKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Kullaniciİsmi" serializeAs="String">
                <value />
            </setting>
            <setting name="KullaniciİsmiBool" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GirişDurumu" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProgramKodu" serializeAs="String">
                <value />
            </setting>
            <setting name="MailBirikimi" serializeAs="String">
                <value />
            </setting>
            <setting name="Jokerler" serializeAs="String">
                <value>(A)(B)(C)(Ç)(D)(E)(F)(G)(Ğ)(H)(I)(İ)(J)(K)(L)(M)(N)(O)(Ö)(P)(R)(S)(Ş)(T)(U)(Ü)(V)(Y)(Z)</value>
            </setting>
            <setting name="KGSDBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HGSDBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ÜretilecekKelimeler" serializeAs="String">
                <value>(TK)(12)(11)(10)(9)(8)(7)(6)(5)(4)(3)</value>
            </setting>
            <setting name="KelimeGöndericiBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JokerHarfBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JokerAyarlar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HarfPuan" serializeAs="String">
                <value>&lt;A1A&gt;&lt;B3B&gt;&lt;C4C&gt;&lt;Ç4Ç&gt;&lt;D3D&gt;&lt;E1E&gt;&lt;F7F&gt;&lt;G5G&gt;&lt;Ğ8Ğ&gt;&lt;H5H&gt;&lt;I2I&gt;&lt;İ1İ&gt;&lt;J10J&gt;&lt;K1K&gt;&lt;L1L&gt;&lt;M2M&gt;&lt;N1N&gt;&lt;O2O&gt;&lt;Ö7Ö&gt;&lt;P5P&gt;&lt;R1R&gt;&lt;S2S&gt;&lt;Ş4Ş&gt;&lt;T1T&gt;&lt;U2U&gt;&lt;Ü3Ü&gt;&lt;V7V&gt;&lt;Y3Y&gt;&lt;Z4Z&gt;</value>
            </setting>
        </Azutka_Kelime_Bulucu.Properties.Settings>
    </userSettings>
</configuration>